body {
  background-color: lightgray;
}
.calendar {
    width: auto;
    height: auto;
    margin: auto;
    font-size: 13px;
    background-color: whitesmoke;
  }
  
  .calendar tr, .calendar td {
    border: 1px solid black;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }

  .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }
  
  a {
    color: #17a2b8;
  }

  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: black;
    background-color: white;
    box-shadow: 0 0 0 0;
  }
  
  .clearfix {
    margin: 15px;
  }

  .form {
    margin: auto;
    margin-top: 2%;
    width: 90%;
    max-width: 500px;
    padding: 40px;
}
  
  .form input, .form select, .form textarea .login{
    border-radius: 5px;
    border: 1px solid #17a2b8;
    background-color: white;
    padding: 5px;
    width: 100%;
  }
  .form-table > tbody > tr > td > textarea {
    border-radius: 5px;
    border: 1px solid #17a2b8;
    background-color: white;
    padding: 5px;
    width: 100%;
  }
  .signup > ul {
    height: auto;
  }

  .signup > p > input {
    border: 1px solid black;
  }
  .header {
    width: 98%;
    margin: auto;
  }

  .event-card {
    text-decoration: none;
    background-color: lightblue;
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: medium;
  }
  .event-li {
    list-style: none;
    margin-right: auto 5px auto auto;
  }
  .event-li >
  .event-ul {
    padding: 0;
    list-style-type: none;
  }
